
/* 白天样式 */
body {
  background-color: #f6f6f6;
  color: #333;
}

/* 夜间样式 */
.dark-mode {
  background-color: #222;
  color: #f6f6f6;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
